
.table-container {
  max-height: 90vh;
  position: absolute;
}

/* .table-container > table {
  width: max-content;
  min-width: 100%;
} */

.table-scroll-filler {
  width: 100%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

.table-container > table {
  width: 100%;
  max-width: 100%;  /* Add this line */
  white-space: nowrap; /* Prevent line breaks within cells */
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}


