name: "First CI/CD with GitHub"

on:
  push:
    tags:
    - 'v*'    

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v2
        - name: Configure AWS credentials
          uses: aws-actions/configure-aws-credentials@v2
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-east-1
            
        - name: Build Docker image
          env:
            IMAGE_TAG: latest
          run: |
            DOCKER_TAG=$(echo "${GITHUB_REF}" | cut -d'/' -f 3)
            docker build -t gic-dx-its-mgt-front:$IMAGE_TAG .
            docker tag gic-dx-its-mgt-front:$IMAGE_TAG ${{ vars.ECR_REPOSITORY }}:${DOCKER_TAG}
            docker tag gic-dx-its-mgt-front:$IMAGE_TAG ${{ vars.ECR_REPOSITORY }}:$IMAGE_TAG

        - name: Authenticate to Amazon ECR
          run: |
            aws ecr get-login-password --region ${{ vars.AWS_DEFAULT_REGION}} | docker login --username AWS --password-stdin ${{ vars.ECR_REGISTRY }}

        - name: Push Docker image to Amazon ECR
          run: |
            DOCKER_TAG=$(echo "${GITHUB_REF}" | cut -d'/' -f 3)
            docker push ${{ vars.ECR_REPOSITORY }}:${DOCKER_TAG}
            docker push ${{ vars.ECR_REPOSITORY }}:latest